[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
jupyter = "*"

[packages]
pandas = "*"
cognite-sdk = "*"
matplotlib = "*"
ipykernel = "*"
seaborn = "*"
forex-python = "*"

[requires]
python_version = "3.7.1"
